FORMAT: 1A
HOST: http://downing.rocks/

# Komixx

Komixx provides an interactive experience in exploring the comic book world. Users can search through Characters, Teams, Volumes, and Publishers through the comic book world.


## Characters [/api/characters]
### List All Characters [GET]

+ Response 200 (application/json)

        
        {
            [   
                {
                    "name": "Jerry",
                    "publisher": "Dell",
                    "image": "url to image",
                    "gender": 1,
                    "real_name": "Unknown"
                },
                
                {   
                    "name": "Terry",
                    "publisher": "Dell",
                    "image": "url to image",
                    "gender": 1,
                    "real_name": "Unknown"
                }
            ]    
        }
        
## Characters [/api/characters/id]
### List a Single Character [GET]

+ Response 200 (application/json)

        {
            "name": "Jerry",
            "publisher": "Dell",
            "image": "url to image",
            "gender": 1,
            "real_name": "Unknown"
        }
## Teams [/api/teams]
### List All Teams [GET]

+ Response 200 (application/json)

        {
            [
                {
                    "name": "Space Ranger",
                    "publisher": "Fiction House",
                    "image": "imageurl.com",
                    "appear": "April 3, 1876",
                    "num_appearances": 345
                },
                {
                    "name": "Space Ranger",
                    "publisher": "Fiction House",
                    "image": "imageurl.com",
                    "appear": "April 7, 1976",
                    "num_appearances": 400
                }
            }
            
            
            ]   
        }



## Teams [/api/teams/id]
### List a Single Team [GET]

+ Response 200 (application/json)

        {
            "name": "Space Ranger",
            "publisher": "Fiction House",
            "image": "imageurl.com",
            "appear": "April 3, 1876",
            "num_appearances": 345
        }




## Volumes [/api/volumes]
### List All Volumes [GET]

+ Response 200 (application/json)

        {
            [
                {
                    *"image": "url_to_string",
                    *"publisher": "Fiction House",
                    *"num_issues": 23,
                    *"start_year":  "1919",
                    *"name": "Volume Name"
                },
                {
                    "image": "url_to_string",
                    "publisher": "Fiction House",
                    "num_issues": 23,
                    "start_year":  "1919",
                    "name": "Volume Name"
                }
            ]
        }


## Volumes [/api/volumes/id]
### List a Single Volume [GET]

+ Response 200 (application/json)

        {
            "image": "url_to_string",
            "publisher": "Fiction House",
            "num_issues": 23,
            "start_year":  "1919",
            "name": "Volume Name"
        }



## Publishers Collection [/api/publishers]
### List All Publishers [GET]

+ Response 200 (application/json)

        {
            {
                "name": "Dark Horse Comics",
                "address": "10956 SE Main Street",
                "city": "Milwaukie",
                "state": "Oregon",
                "image": "url_to_string"
            },
            {
                "name": "Fiction House",
                "address": "Unknown",
                "city": "Unknown",
                "state": "Unknown",
                "image": "url_to_string"
            }
        }

## Publishers Collection [/api/publishers/id]
### List a Single Publisher [GET]

+ Response 200 (application/json)

        {
                "name": "Dark Horse Comics",
                "address": "10956 SE Main Street",
                "city": "Milwaukie",
                "state": "Oregon",
                "image": "url_to_string"
        }