FORMAT: 1A
HOST: http://downing.rocks/

# Komixx

Komixx provides an interactive experience in exploring the comic book world. Users can search through Characters, Teams, Volumes, and Publishers through the comic book world.


## Characters [/characters]
### List All Characters [GET]

+ Response 200 (application/json)

        
        {
            [   
                {
                    "name": "Jerry",
                    "birth": NULL,
                    "volumes": ["name1", "name2", "name3"],
                    "publisher": "Dell",
                    "image": "url to image",
                    "volume_credits": ["Volume1","Volume2","Volume3"],
                    "powers": ["power1","power2","power3"],
                    "gender": "Male",
                    "creator": "Creator"
                    "teams": ["Team1","Team2","Team3"],
                    "appear": "July 6, 1979",
                    "real": "Unknown"
                },
                
                {   
                    "name": "Terry",
                    "birth": NULL,
                    "volumes": ["name1", "name2", "name3"],
                    "primary_publisher": "Dell",
                    "image": "url to image",
                    "volume_credits": ["Volume1","Volume2","Volume3"],
                    "powers": ["power1","power2","power3"],
                    "gender": "Male",
                    "creator": "Creator"
                    "teams": ["Team1","Team2","Team3"],
                    "appear": "June 9, 1979",
                    "real": "Unknown"
                }
            ]    
        }
        
## Characters [/characters/id]
### List a Single Character [GET]

+ Response 200 (application/json)

        {
            "name": "Jerry",
            "birth": NULL,
            "volumes": ["name1", "name2", "name3"],
            "publisher": "Dell",
            "image": "url to image",
            "volume_credits": ["Volume1","Volume2","Volume3"],
            "powers": ["power1","power2","power3"],
            "gender": "Male",
            "creator": "Creator"
            "teams": ["Team1","Team2","Team3"],
            "appear": "July 6, 1979",
            "real": "Unknown"
        }
## Teams [/teams]
### List All Teams [GET]

+ Response 200 (application/json)

        {
            [
                {
                    "name": "Space Ranger",
                    "publisher": "Fiction House",
                    "description": "blah blah blah",
                    "image": "imageurl.com",
                    "volumes": ["name1", "name2", "name3"],
                    "characters": ["Reef Ryan", "another person"],
                    "appear": "April 3, 1876",
                    "num_appearances": 345
                },
                {
                    "name": "Space Ranger",
                    "publisher": "Fiction House",
                    "description": "blah blah blah",
                    "image": "imageurl.com",
                    "volumes": ["name1", "name2", "name3"],
                    "characters": ["Reef Ryan", "another person"],
                    "appear": "April 7, 1976",
                    "num_appearances": 400
                }
            }
            
            
            ]   
        }



## Teams [/teams/id]
### List a Single Team [GET]

+ Response 200 (application/json)

        {
            "name": "Space Ranger",
            "publisher": "Fiction House",
            "description": "blah blah blah",
            "image": "imageurl.com",
            "volumes": ["name1", "name2", "name3"],
            "characters": ["Reef Ryan", "another person"],
            "appear": "April 3, 1876",
            "num_appearances": 345
        }




## Volumes [/volumes]
### List All Volumes [GET]

+ Response 200 (application/json)

        {
            [
                {
                    "image": "url_to_string",
                    "publisher": "Fiction House",
                    "description": "blah blah blah",
                    "num_issues": 23,
                    "aliases": ["name1","name2","name3"],
                    "start_year":  1919,
                    "teams": ["Team1", "Team2"],
                    "name": "Volume Name"
                },
                {
                    "image": "url_to_string",
                    "publisher": "Fiction House",
                    "description": "blah blah blah",
                    "num_issues": 23,
                    "aliases": ["name1","name2","name3"],
                    "start_year":  1919,
                    "teams": ["Team1", "Team2"],
                    "name": "Volume Name"
                }
            ]
        }


## Volumes [/volumes/id]
### List a Single Volume [GET]

+ Response 200 (application/json)

        {
            "image": "url_to_string",
            "publisher": "Fiction House",
            "description": "blah blah blah",
            "num_issues": 23,
            "aliases": ["name1","name2","name3"],
            "start_year":  1919,
            "teams": ["Team1", "Team2"],
            "name": "Volume Name"
        }



## Publishers Collection [/publishers]
### List All Publishers [GET]

+ Response 200 (application/json)

        {
            {
                "name": "Dark Horse Comics",
                "characters": ["Chief Chirpa", " Char 2"],
                "locAd": "10956 SE Main Street",
                "city": "Milwaukie",
                "state": "Oregon",
                "deck": "Dark Horse Comics is one of...",
                "image": "url_to_string",
                "volumes": ["Star Wars: Dark Rising", "Volume 2"],
                "teams": ["Ewoks", "Char 2"]
            },
            {
                "name": "Fiction House",
                "characters": ["Reef Ryan", " Char 2"],
                "locAd": "Unknown",
                "city": "Unknown",
                "state": "Unknown",
                "deck": "A pulp magazine and comic book publisher in the Golden Age of Comics.",
                "image": "url_to_string",
                "volumes": ["Planet Comics", "Volume 2"],
                "teams": ["Space Rangers", "Char 2"]
            }
        }

## Publishers Collection [/publishers/id]
### List a Single Publisher [GET]

+ Response 200 (application/json)

        {
                "name": "Dark Horse Comics",
                "characters": ["Chief Chirpa", "Char 2"],
                "locAd": "10956 SE Main Street",
                "city": "Milwaukie",
                "state": "Oregon",
                "deck": "Dark Horse Comics is one of...",
                "image": "url_to_string",
                "volumes": ["Star Wars: Dark Rising", "Volume 2"],
                "teams": ["Ewoks", "Team 2"]
        }