#publishers {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

#about{
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    transition: all 3s ease;
    position: relative;
    float: left;
    width:  200px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    -webkit-animation: slide 2s ease-in-out .5s infinite alternate;
    -moz-animation: slide 2s ease-in-out .5s infinite alternate;
    -ms-animation: slide 2s ease-in-out .5s infinite alternate;
    -o-animation: slide 2s ease-in-out .5s infinite alternate;
    animation: slide 2s ease-in-out .5s infinite alternate;
}

@keyframes pulsate {
  0% {
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  }
  100% {
    -webkit-clip-path: polygon(50% 0%, 100% 0%, 100%% 36%, 500px 72%, 100% 100%, 50% 100%, 0% 100%, 0% 72%, 0% 36%, 0% 0%);
  }
}
@-webkit-keyframes slide {
  0% {
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  }
  100% {
    -webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 36%, 100% 72%, 100% 100%, 50% 100%, 0% 100%, 0% 72%, 0% 36%, 0% 0%);
  }
}
@-moz-keyframes pulsate {
  0% {
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  }
  100% {
    -webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 36%, 100% 72%, 100% 100%, 50% 100%, 0% 100%, 0% 72%, 0% 36%, 0% 0%);
  }
}
@-ms-keyframes pulsate {
  0% {
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  }
  100% {
    -webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 36%, 100% 72%, 100% 100%, 50% 100%, 0% 100%, 0% 72%, 0% 36%, 0% 0%);
  }
}
@-o-keyframes pulsate {
  0% {
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  }
  100% {
    -webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 36%, 100% 72%, 100% 100%, 50% 100%, 0% 100%, 0% 72%, 0% 36%, 0% 0%);
  }
}



/* the stuff below the nav bar*/
#content{
    padding-top: 3%;
    display: table;
    position:relative;
    top: 50px;
    right:0px;
    bottom:0px;
    overflow-y:scroll;
    display: table;
    margin: 0 auto;
}

#title{
  text-align: center;
  vertical-align: middle;
}

#inner{
  display: table;
  margin: 0 auto;
}


.table > th{
  text-align: center;
}
#imcol{
  display: inline-block;
}
ul{
    padding-right: 0;
    list-style-type: none;
}
/*for stacking */
.mobilewrapper{width:100%!important; height:auto!important;}
.colsplit{width:320px!important; float:left!important; display:block !important;}
