{% extends "base.html" %}
{% block content %}
      <div id="content" class="container">
         <div class="row">
            <div class="col-md-4">
               <img src="{{character.image}}" class="img-responsive img-thumbnail character-image">
            </div>
            <div class="col-md-8">
               <br><br><br>
               <h2 class="character-header">{{character.name}}</h2>
               <!-- http://comicvine.gamespot.com/batman/4005-1699/ -->
               <table class="table">
                  <tbody>
                     <tr>
                        <th>Gender</th>
                        <td>{{character.gender}}</td>
                     </tr>
                     <tr>
                        <th>Publisher</th>
                        <td>{{character.publisher_name}}</td>
                     </tr>
                     <tr>
                        <th>Volumes</th>
                        <td>{{character.vol_result}}</td>
                     </tr>
                     <tr>
                        <th>Teams</th>
                        <td>{{character.team_result}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
{% endblock %}
