{% extends "base.html" %}
{% block content %}
<div id="content" class="container">
   <table id="table" class="display nowrap" cellspacing="0" width="100%">
      <thead>
         <tr>
            <th class=" ">Thumbnail</th>
            <!--Thumbnail Link should take them to Char page-->
            <th class=" ">Super Name</th>
            <!--Title Link should take them to Char page-->
            <th class=" ">Real Name</th>
            <!--Publisher Link should take them to Publisher page-->
            <th class=" ">Publisher</th>
            <th class=" "># of Appreances</th>
         </tr >
      </thead>
      <tbody>
         <tr>
            <td class=" "><a id="inner" href="http://downing.rocks/character/2"><img id="publishers" src="http://static1.comicvine.com/uploads/square_avatar/6/69951/1387237-reef_ryan.jpg" class="img-rounded" alt="Teams"></a></td>
            <td class=" ">Reef Ryan</td>
            <td class=" ">Unknown</td>
            <td class=" "><a href="http://downing.rocks/publisher/2">Fiction House</a></td>
            <td class=" ">17</td>
         </tr>
         <tr>
            <td class=" "><a id="inner" href="http://downing.rocks/character/3"><img id="publishers" src="http://static4.comicvine.com/uploads/square_avatar/1/12483/277673-175026-jerry.jpg" class="img-rounded" alt="Teams"></a></td>
            <td class=" ">Jerry</td>
            <td class=" ">Unknown</td>
            <td class=""><a href="http://downing.rocks/publisher/3">Dell</a></td>
            <td class="">1438</td>
         </tr>
         <tr>
            <td class=" "><a id="inner" href="http://downing.rocks/character/1"><img id="publishers" src="http://static4.comicvine.com/uploads/square_avatar/1/15317/319977-72031-chief-chirpa.jpg" class="img-rounded" alt="Teams"></a></td>
            <td class=" ">Chief Chirpa</td>
            <td class=" ">Conan</td>
            <td class=" "><a href="http://downing.rocks/publisher/1">Dark Horse Comics</a></td>
            <td class=" ">14</td>
         </tr>
      </tbody>
   </table>
</div>
{% endblock %}