/*
 * General
*/


/*
 * Navigation
*/
#navbar
{
    height:50px;
}



/*
 * Carousel
*/



html,body{
  height:100%;
}

.item,.active{
    height: 50%;
}

#the-carousel {
    padding-right: 0;
    padding-left: 0;
    height: inherit;
}

#content{
    position:absolute;
    top: 50px;
    right:0px;
    bottom:0px;
    overflow-y:scroll;        
}

#myCarousel{
    height: 100%;
}
.carousel-inner{
    height: 100%;
}
.carousel{
    padding-top: 50px;
}
