/*
 * Carousel
*/


html,body{
  height:100%;
  text-align: center;
}

.item,.active{
    height: 50%;
}

#the-carousel {
    padding-right: 0;
    padding-left: 0;
    height: inherit;
}

#myCarousel{
    height: 100%;
}
.carousel-inner{
    height: 100%;
}
.carousel{
    padding-top: 50px;
}

/* for rows */
tr {
    height: 5%;
}

/* for about page */
#abouts > div{
   display: inline-block;
}
#abouts{
  text-align: center;
  margin: 0px auto;
}
#info{
  text-align: center;
}
