{% extends "base.html" %}
{% block content %}
		<div  id="content" class="container">
			<div class="jumbotron">
				<h1 id="inner">The One Punch Men</h1>
			</div>
			<div class="row" style="padding-top:5%">
				<div id="inner" class="col-md-4" height:50%>
					<h2 id="inner">Nabeel Virani</h2>
					<div id="abouts">
						<div id="inner">
							<div><img id="about" src="../static/img/nabeel_about.jpg" class="img-responsive img-thumbnail" alt="Nabeel" height:"200px" width:"200px"></div>
						</div>
						<div id="inner">
							<div display:inline-block><p id="info">My name is Nabeel, a fourth year student in CS. I love web development and game development. I am a music buff, and in my spare time, I avidly search for new music.</p>
								<p id="inner">Stats</p>
								<ul id="inner">
									<li>Major Responsibilities: Full-Stack, API, Data Scraping, Postgres</li>
									<li>Number of Commits: 107</li>
									<li>Number of Issues: 57</li>
									<li>Number of Unit Tests: 5</li>
								</ul>
							</div>
						</div>
                    </div>
				</div>
				<div id="inner" class="col-md-4">
					<h2 id="inner">Allen McClure</h2>
					<div id="abouts">
                        <div id="inner">
						  <div><img id="about" src="../static/img/aj_about.jpg" class="img-responsive img-thumbnail" alt="Nabeel" height:"200px" width:"200px"></div>
                        </div>
					    <div id="inner">
                            <div display:inline-block><p id="info">Hey! My name is AJ and I'm an undergraduate student studying Computer Science at the Universy of Texas at Austin. When I'm not busy writing programs I enjoy reading graphic novels, playing video games, and chilling with friends. </p>
					           <p id="inner">Stats</p>
					           <ul id="inner">
											 <li>Major Responsibilities: Front End, Data Scraping</li>
						           <li>Number of Commits: 7</li>
						           <li>Number of Issues: 0</li>
						           <li>Number of Unit Tests: 0</li>
					           </ul>
				            </div>
                        </div>
                    </div>
				</div>
				<div id="inner" class="col-md-4">
					<h2 id="inner">Pradeep Kumar</h2>
                    <div id="abouts">
					    <div id="inner">
                           <img id="about" src="../static/img/pradeep_about.png" class="img-responsive img-thumbnail" alt="Nabeel" height:"200px" width:"200px">
                        </div>
                        <div id="inner">
					        <div><p id="info">Hi my name is Pradeep. I'm studying computer science at UT right now, but I graduated with a degree in Neurobiology in 2013. I like thinking about thinking, brains, and odd or eccentric things so if those things could interest you as well come say hi.</p>
					           <p id="inner">Stats</p>
					           <ul id="inner">
												<li>Major Responsibilities: Front End</li>
						          	<li>Number of Commits: 8</li>
						          	<li>Number of Issues: 0</li>
						          	<li>Number of Unit Tests: 0</li>
					           </ul>
				            </div>
                        </div>
                    </div>
				</div>
			</div>
			<div class="row" style="padding-top:5%">
				<div id="inner" class="col-md-4">
					<h2 id="inner">Chuqi Zhou</h2>
                    <div id="abouts">
					   <div id="inner">
                           <img id="about" src="../static/img/chuqi_about.JPG" class="img-responsive img-thumbnail" alt="Chuqi" height:"200px" width:"200px">
                        </div>
                       <div>
					       <div display:inline-block><p id="info">I am Chuqi Zhou. I am a Computer Science student at University of Texas at Austin. I am originally from China.</p>
					       <p id="inner">Stats</p>
					       <ul id="inner">
									<li>Major Responsibilities: Back End, Data Scraping, API</li>
						      <li>Number of Commits: 10</li>
						      <li>Number of Issues: 0</li>
						      <li>Number of Unit Tests: 10</li>
					           </ul>
				            </div>
                       </div>
                    </div>
				</div>
				<div id="inner" class="col-md-4">
					<h2 id="inner">Haihan Yu</h2>
                    <div id="abouts">
				        <div id="inner">
                        <div><img id="about" src="../static/img/haihan_about.JPG" class="img-responsive img-thumbnail" alt="Nabeel" height:200px width:200px></div>
                    </div>
                        <div id="inner">
                        <div display:inline-block><p id="info">My name is Haihan, a fourth-year student in CS and EE at UT Austin. As a CS major, I enjoy learning programming. Besides, learning different languages (both human and computer ones) is also my interest.</p>
                           <p id="inner">Stats</p>
                            <ul id="inner">
																<li>Major Responsibilities: Back End</li>
                                <li>Number of Commits: 5</li>
                                <li>Number of Issues: 0</li>
                                <li>Number of Unit Tests: 18</li>
                            </ul>
                        </div>
                    </div>
                    </div>
				</div>
				<div id="inner" class="col-md-4">
					<h2 id="inner">Adan Briones</h2>
                    <div id="abouts">
				        <div id="inner">
                        <img  id="about" src="../static/img/adan_about.jpg" class="img-responsive img-thumbnail" alt="Nabeel" height:200px width:200px>
                    </div>
                        <div id="inner">
                            <div display:inline-block><p>I am a senior CS student at the University of Texas at Austin. When I am not on a computer I like to watch all the sports I can.</p>
                            <p id="inner">Stats</p>
                            <ul id="inner">
																<li>Major Responsibilities: Front End, Documentation</li>
                                <li>Number of Commits: 26</li>
                                <li>Number of Issues: 1</li>
                                <li>Number of Unit Tests: 10</li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
			</div>
      <div class="row" style="padding-top:5%">
          	<div id="inner" class="col-md-4">
                    <h2 id="inner">Project Stats</h2>
                    <ul id="inner">
                            <li>Number of Commits: 167</li>
														<li>Number of Issues: 48</li>
                            <li>Number of Unit Tests: 15</li>
				            				<li><a href="http://docs.comixx.apiary.io"> to Apiary API</li>
						    						<li><a href="http://github.com/jarkyll/cs373-idb/issues">GitHub issue tracker</a></li>
						    						<li><a href="http://github.com/jarkyll/cs373-idb">GitHub Repo</a></li>
						    						<li><a href="http://github.com/jarkyll/cs373-idb/wiki">GitHub Wiki</a></li>
				    					</ul>
                </div>
                <div id="inner" class="col-md-4" ng-controller="MainController">
                    <h2 id="inner">Project Data</h2>
                    <ul id="inner">
                          <li><a href="http://comicvine.gamespot.com/api/">Comic Vine API</a></li>
						  <li id="inner">We used urllib2 and it's request call to scrape data from the corresponding type</li>
				    </ul>
					<form action="http://downing.rocks/runtests">
    					<button class='btn btn-danger' type="submit" value="Go to Google">Run Tests</button>
					</form>
                </div>
                <div id="inner" class="col-md-4">
                    <h2 id="inner">Project Tools</h2>
                    <ul id="inner">
				                    <li>Slack</li>
														<li>SQL-Alchemy</li>
				                    <li>Digital Ocean</li>
														<li>Bootstrap</li>
				                    <li>Angular</li>
														<li>Travis CI</li>
				                    <li>Flask</li>
														<li>yUML</li>
				                    <li>Datatables</li>
														<li>jQuery</li>
				    				</ul>
                </div>
            </div>
		  </div>
    </div>
{% endblock %}
