<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</head>
	<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li>
                <a href="/home">Characters</a>
              </li>
              <li>
                <a href="/home">Volumes</a>
              </li>
              <li>
                <a href="/home">Publisher</a>
              </li>
              <li>
                <a href="/home">Series</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

		<div class="container">
      <h2>Characters</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Thumbnail</th>    <!--Thumbnail Link should take them to Char page-->
            <th>Super Name</th>        <!--Title Link should take them to Char page-->
            <th>Real Name</th>    <!--Publisher Link should take them to Publisher page-->
            <th>Publisher</th>
            <th># of Appreances</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Image Here</td>
            <td>Sheena</td>
            <td></td>
            <td>Fiction House</td>
            <td>256</td>
          </tr>
          <tr>
            <td>Image Here</td>
            <td>Phantasmo</td>
            <td>Unrevealed</td>
            <td>Dell</td>
            <td>27</td>
          </tr>
          <tr>
            <td>Image Here</td>
            <td>Conan</td>
            <td>Conan</td>
            <td>Dark Horse Comics</td>
            <td>1782</td>
          </tr>
        </tbody>
      </table>
    </div>
	</body>
</html>
