
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html><head><title>Python: module models</title>
<meta charset="utf-8">
</head><body bgcolor="#f0f0f8">

<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="heading">
<tr bgcolor="#7799ee">
<td valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial">&nbsp;<br><big><big><strong>models</strong></big></big></font></td
><td align=right valign=bottom
><font color="#ffffff" face="helvetica, arial"><a href=".">index</a><br><a href="file:/v/filer4b/v38q001/ctdinh93/swe/cs373-idb/models.py">/v/filer4b/v38q001/ctdinh93/swe/cs373-idb/models.py</a></font></td></tr></table>
    <p><tt>#from&nbsp;flask_app&nbsp;import&nbsp;db</tt></p>
<p>
<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="section">
<tr bgcolor="#ee77aa">
<td colspan=3 valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial"><big><strong>Classes</strong></big></font></td></tr>
    
<tr><td bgcolor="#ee77aa"><tt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</tt></td><td>&nbsp;</td>
<td width="100%"><dl>
<dt><font face="helvetica, arial">sqlalchemy.ext.declarative.api.Base(<a href="__builtin__.html#object">__builtin__.object</a>)
</font></dt><dd>
<dl>
<dt><font face="helvetica, arial"><a href="models.html#Artist">Artist</a>
</font></dt><dt><font face="helvetica, arial"><a href="models.html#Award">Award</a>
</font></dt><dt><font face="helvetica, arial"><a href="models.html#Concert">Concert</a>
</font></dt><dt><font face="helvetica, arial"><a href="models.html#Label">Label</a>
</font></dt><dt><font face="helvetica, arial"><a href="models.html#Release">Release</a>
</font></dt><dt><font face="helvetica, arial"><a href="models.html#Song">Song</a>
</font></dt><dt><font face="helvetica, arial"><a href="models.html#Video">Video</a>
</font></dt></dl>
</dd>
</dl>
 <p>
<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="section">
<tr bgcolor="#ffc8d8">
<td colspan=3 valign=bottom>&nbsp;<br>
<font color="#000000" face="helvetica, arial"><a name="Artist">class <strong>Artist</strong></a>(sqlalchemy.ext.declarative.api.Base)</font></td></tr>
    
<tr bgcolor="#ffc8d8"><td rowspan=2><tt>&nbsp;&nbsp;&nbsp;</tt></td>
<td colspan=2><tt>Model&nbsp;of&nbsp;Artists<br>
A&nbsp;<a href="#Artist">Artist</a>&nbsp;is&nbsp;a&nbsp;single&nbsp;person&nbsp;or&nbsp;collection&nbsp;of&nbsp;people&nbsp;that&nbsp;attempt&nbsp;to&nbsp;create&nbsp;music<br>&nbsp;</tt></td></tr>
<tr><td>&nbsp;</td>
<td width="100%"><dl><dt>Method resolution order:</dt>
<dd><a href="models.html#Artist">Artist</a></dd>
<dd>sqlalchemy.ext.declarative.api.Base</dd>
<dd><a href="__builtin__.html#object">__builtin__.object</a></dd>
</dl>
<hr>
Methods defined here:<br>
<dl><dt><a name="Artist-__init__"><strong>__init__</strong></a>(self, **kwargs)</dt><dd><tt>A&nbsp;simple&nbsp;constructor&nbsp;that&nbsp;allows&nbsp;initialization&nbsp;from&nbsp;kwargs.<br>
&nbsp;<br>
Sets&nbsp;attributes&nbsp;on&nbsp;the&nbsp;constructed&nbsp;instance&nbsp;using&nbsp;the&nbsp;names&nbsp;and<br>
values&nbsp;in&nbsp;``kwargs``.<br>
&nbsp;<br>
Only&nbsp;keys&nbsp;that&nbsp;are&nbsp;present&nbsp;as<br>
attributes&nbsp;of&nbsp;the&nbsp;instance's&nbsp;class&nbsp;are&nbsp;allowed.&nbsp;These&nbsp;could&nbsp;be,<br>
for&nbsp;example,&nbsp;any&nbsp;mapped&nbsp;columns&nbsp;or&nbsp;relationships.</tt></dd></dl>

<hr>
Data descriptors defined here:<br>
<dl><dt><strong>awards</strong></dt>
</dl>
<dl><dt><strong>bio</strong></dt>
</dl>
<dl><dt><strong>concerts</strong></dt>
</dl>
<dl><dt><strong>id</strong></dt>
</dl>
<dl><dt><strong>label_id</strong></dt>
</dl>
<dl><dt><strong>name</strong></dt>
</dl>
<dl><dt><strong>photo</strong></dt>
</dl>
<dl><dt><strong>releases</strong></dt>
</dl>
<dl><dt><strong>songs</strong></dt>
</dl>
<dl><dt><strong>videos</strong></dt>
</dl>
<hr>
Data and other attributes defined here:<br>
<dl><dt><strong>__mapper__</strong> = &lt;Mapper at 0x7f0c3a7de990; Artist&gt;</dl>

<dl><dt><strong>__table__</strong> = Table('artists', MetaData(bind=None), Column('id...nKey('labels.id'), table=&lt;artists&gt;), schema=None)</dl>

<dl><dt><strong>__tablename__</strong> = 'artists'</dl>

<hr>
Data descriptors inherited from sqlalchemy.ext.declarative.api.Base:<br>
<dl><dt><strong>__dict__</strong></dt>
<dd><tt>dictionary&nbsp;for&nbsp;instance&nbsp;variables&nbsp;(if&nbsp;defined)</tt></dd>
</dl>
<dl><dt><strong>__weakref__</strong></dt>
<dd><tt>list&nbsp;of&nbsp;weak&nbsp;references&nbsp;to&nbsp;the&nbsp;object&nbsp;(if&nbsp;defined)</tt></dd>
</dl>
<hr>
Data and other attributes inherited from sqlalchemy.ext.declarative.api.Base:<br>
<dl><dt><strong>metadata</strong> = MetaData(bind=None)</dl>

</td></tr></table> <p>
<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="section">
<tr bgcolor="#ffc8d8">
<td colspan=3 valign=bottom>&nbsp;<br>
<font color="#000000" face="helvetica, arial"><a name="Award">class <strong>Award</strong></a>(sqlalchemy.ext.declarative.api.Base)</font></td></tr>
    
<tr bgcolor="#ffc8d8"><td rowspan=2><tt>&nbsp;&nbsp;&nbsp;</tt></td>
<td colspan=2><tt>Model&nbsp;for&nbsp;<a href="#Award">Award</a><br>
An&nbsp;<a href="#Award">Award</a>&nbsp;is&nbsp;reconginition&nbsp;of&nbsp;an&nbsp;artist&nbsp;doing&nbsp;something&nbsp;good.<br>&nbsp;</tt></td></tr>
<tr><td>&nbsp;</td>
<td width="100%"><dl><dt>Method resolution order:</dt>
<dd><a href="models.html#Award">Award</a></dd>
<dd>sqlalchemy.ext.declarative.api.Base</dd>
<dd><a href="__builtin__.html#object">__builtin__.object</a></dd>
</dl>
<hr>
Methods defined here:<br>
<dl><dt><a name="Award-__init__"><strong>__init__</strong></a>(self, **kwargs)</dt><dd><tt>A&nbsp;simple&nbsp;constructor&nbsp;that&nbsp;allows&nbsp;initialization&nbsp;from&nbsp;kwargs.<br>
&nbsp;<br>
Sets&nbsp;attributes&nbsp;on&nbsp;the&nbsp;constructed&nbsp;instance&nbsp;using&nbsp;the&nbsp;names&nbsp;and<br>
values&nbsp;in&nbsp;``kwargs``.<br>
&nbsp;<br>
Only&nbsp;keys&nbsp;that&nbsp;are&nbsp;present&nbsp;as<br>
attributes&nbsp;of&nbsp;the&nbsp;instance's&nbsp;class&nbsp;are&nbsp;allowed.&nbsp;These&nbsp;could&nbsp;be,<br>
for&nbsp;example,&nbsp;any&nbsp;mapped&nbsp;columns&nbsp;or&nbsp;relationships.</tt></dd></dl>

<hr>
Data descriptors defined here:<br>
<dl><dt><strong>artist_id</strong></dt>
</dl>
<dl><dt><strong>id</strong></dt>
</dl>
<dl><dt><strong>name</strong></dt>
</dl>
<dl><dt><strong>year</strong></dt>
</dl>
<hr>
Data and other attributes defined here:<br>
<dl><dt><strong>__mapper__</strong> = &lt;Mapper at 0x7f0c3a79de50; Award&gt;</dl>

<dl><dt><strong>__table__</strong> = Table('awards', MetaData(bind=None), Column('id'...nKey('artists.id'), table=&lt;awards&gt;), schema=None)</dl>

<dl><dt><strong>__tablename__</strong> = 'awards'</dl>

<hr>
Data descriptors inherited from sqlalchemy.ext.declarative.api.Base:<br>
<dl><dt><strong>__dict__</strong></dt>
<dd><tt>dictionary&nbsp;for&nbsp;instance&nbsp;variables&nbsp;(if&nbsp;defined)</tt></dd>
</dl>
<dl><dt><strong>__weakref__</strong></dt>
<dd><tt>list&nbsp;of&nbsp;weak&nbsp;references&nbsp;to&nbsp;the&nbsp;object&nbsp;(if&nbsp;defined)</tt></dd>
</dl>
<hr>
Data and other attributes inherited from sqlalchemy.ext.declarative.api.Base:<br>
<dl><dt><strong>metadata</strong> = MetaData(bind=None)</dl>

</td></tr></table> <p>
<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="section">
<tr bgcolor="#ffc8d8">
<td colspan=3 valign=bottom>&nbsp;<br>
<font color="#000000" face="helvetica, arial"><a name="Concert">class <strong>Concert</strong></a>(sqlalchemy.ext.declarative.api.Base)</font></td></tr>
    
<tr bgcolor="#ffc8d8"><td rowspan=2><tt>&nbsp;&nbsp;&nbsp;</tt></td>
<td colspan=2><tt>Model&nbsp;for&nbsp;<a href="#Concert">Concert</a><br>
A&nbsp;<a href="#Concert">Concert</a>&nbsp;is&nbsp;an&nbsp;event&nbsp;where&nbsp;artists&nbsp;perform&nbsp;songs&nbsp;at&nbsp;certain&nbsp;location&nbsp;on&nbsp;a&nbsp;date.&nbsp;Usually&nbsp;apart&nbsp;of&nbsp;a&nbsp;tour<br>&nbsp;</tt></td></tr>
<tr><td>&nbsp;</td>
<td width="100%"><dl><dt>Method resolution order:</dt>
<dd><a href="models.html#Concert">Concert</a></dd>
<dd>sqlalchemy.ext.declarative.api.Base</dd>
<dd><a href="__builtin__.html#object">__builtin__.object</a></dd>
</dl>
<hr>
Methods defined here:<br>
<dl><dt><a name="Concert-__init__"><strong>__init__</strong></a>(self, **kwargs)</dt><dd><tt>A&nbsp;simple&nbsp;constructor&nbsp;that&nbsp;allows&nbsp;initialization&nbsp;from&nbsp;kwargs.<br>
&nbsp;<br>
Sets&nbsp;attributes&nbsp;on&nbsp;the&nbsp;constructed&nbsp;instance&nbsp;using&nbsp;the&nbsp;names&nbsp;and<br>
values&nbsp;in&nbsp;``kwargs``.<br>
&nbsp;<br>
Only&nbsp;keys&nbsp;that&nbsp;are&nbsp;present&nbsp;as<br>
attributes&nbsp;of&nbsp;the&nbsp;instance's&nbsp;class&nbsp;are&nbsp;allowed.&nbsp;These&nbsp;could&nbsp;be,<br>
for&nbsp;example,&nbsp;any&nbsp;mapped&nbsp;columns&nbsp;or&nbsp;relationships.</tt></dd></dl>

<hr>
Data descriptors defined here:<br>
<dl><dt><strong>date</strong></dt>
</dl>
<dl><dt><strong>id</strong></dt>
</dl>
<dl><dt><strong>location</strong></dt>
</dl>
<dl><dt><strong>name</strong></dt>
</dl>
<hr>
Data and other attributes defined here:<br>
<dl><dt><strong>__mapper__</strong> = &lt;Mapper at 0x7f0c3a789890; Concert&gt;</dl>

<dl><dt><strong>__table__</strong> = Table('concerts', MetaData(bind=None), Column('i...n('date', Date(), table=&lt;concerts&gt;), schema=None)</dl>

<dl><dt><strong>__tablename__</strong> = 'concerts'</dl>

<hr>
Data descriptors inherited from sqlalchemy.ext.declarative.api.Base:<br>
<dl><dt><strong>__dict__</strong></dt>
<dd><tt>dictionary&nbsp;for&nbsp;instance&nbsp;variables&nbsp;(if&nbsp;defined)</tt></dd>
</dl>
<dl><dt><strong>__weakref__</strong></dt>
<dd><tt>list&nbsp;of&nbsp;weak&nbsp;references&nbsp;to&nbsp;the&nbsp;object&nbsp;(if&nbsp;defined)</tt></dd>
</dl>
<hr>
Data and other attributes inherited from sqlalchemy.ext.declarative.api.Base:<br>
<dl><dt><strong>metadata</strong> = MetaData(bind=None)</dl>

</td></tr></table> <p>
<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="section">
<tr bgcolor="#ffc8d8">
<td colspan=3 valign=bottom>&nbsp;<br>
<font color="#000000" face="helvetica, arial"><a name="Label">class <strong>Label</strong></a>(sqlalchemy.ext.declarative.api.Base)</font></td></tr>
    
<tr bgcolor="#ffc8d8"><td rowspan=2><tt>&nbsp;&nbsp;&nbsp;</tt></td>
<td colspan=2><tt>Model&nbsp;for&nbsp;<a href="#Label">Label</a><br>
A&nbsp;label&nbsp;is&nbsp;a&nbsp;company&nbsp;that&nbsp;funds&nbsp;an&nbsp;artist&nbsp;to&nbsp;make&nbsp;music<br>&nbsp;</tt></td></tr>
<tr><td>&nbsp;</td>
<td width="100%"><dl><dt>Method resolution order:</dt>
<dd><a href="models.html#Label">Label</a></dd>
<dd>sqlalchemy.ext.declarative.api.Base</dd>
<dd><a href="__builtin__.html#object">__builtin__.object</a></dd>
</dl>
<hr>
Methods defined here:<br>
<dl><dt><a name="Label-__init__"><strong>__init__</strong></a>(self, **kwargs)</dt><dd><tt>A&nbsp;simple&nbsp;constructor&nbsp;that&nbsp;allows&nbsp;initialization&nbsp;from&nbsp;kwargs.<br>
&nbsp;<br>
Sets&nbsp;attributes&nbsp;on&nbsp;the&nbsp;constructed&nbsp;instance&nbsp;using&nbsp;the&nbsp;names&nbsp;and<br>
values&nbsp;in&nbsp;``kwargs``.<br>
&nbsp;<br>
Only&nbsp;keys&nbsp;that&nbsp;are&nbsp;present&nbsp;as<br>
attributes&nbsp;of&nbsp;the&nbsp;instance's&nbsp;class&nbsp;are&nbsp;allowed.&nbsp;These&nbsp;could&nbsp;be,<br>
for&nbsp;example,&nbsp;any&nbsp;mapped&nbsp;columns&nbsp;or&nbsp;relationships.</tt></dd></dl>

<hr>
Data descriptors defined here:<br>
<dl><dt><strong>artists</strong></dt>
</dl>
<dl><dt><strong>bio</strong></dt>
</dl>
<dl><dt><strong>id</strong></dt>
</dl>
<dl><dt><strong>name</strong></dt>
</dl>
<hr>
Data and other attributes defined here:<br>
<dl><dt><strong>__mapper__</strong> = &lt;Mapper at 0x7f0c3a7f5cd0; Label&gt;</dl>

<dl><dt><strong>__table__</strong> = Table('labels', MetaData(bind=None), Column('id'...mn('bio', String(), table=&lt;labels&gt;), schema=None)</dl>

<dl><dt><strong>__tablename__</strong> = 'labels'</dl>

<hr>
Data descriptors inherited from sqlalchemy.ext.declarative.api.Base:<br>
<dl><dt><strong>__dict__</strong></dt>
<dd><tt>dictionary&nbsp;for&nbsp;instance&nbsp;variables&nbsp;(if&nbsp;defined)</tt></dd>
</dl>
<dl><dt><strong>__weakref__</strong></dt>
<dd><tt>list&nbsp;of&nbsp;weak&nbsp;references&nbsp;to&nbsp;the&nbsp;object&nbsp;(if&nbsp;defined)</tt></dd>
</dl>
<hr>
Data and other attributes inherited from sqlalchemy.ext.declarative.api.Base:<br>
<dl><dt><strong>metadata</strong> = MetaData(bind=None)</dl>

</td></tr></table> <p>
<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="section">
<tr bgcolor="#ffc8d8">
<td colspan=3 valign=bottom>&nbsp;<br>
<font color="#000000" face="helvetica, arial"><a name="Release">class <strong>Release</strong></a>(sqlalchemy.ext.declarative.api.Base)</font></td></tr>
    
<tr bgcolor="#ffc8d8"><td rowspan=2><tt>&nbsp;&nbsp;&nbsp;</tt></td>
<td colspan=2><tt>Model&nbsp;for&nbsp;<a href="#Release">Release</a><br>
A&nbsp;release&nbsp;is&nbsp;generally&nbsp;an&nbsp;album&nbsp;of&nbsp;songs&nbsp;put&nbsp;out&nbsp;by&nbsp;an&nbsp;artist&nbsp;or&nbsp;multiple&nbsp;artists<br>&nbsp;</tt></td></tr>
<tr><td>&nbsp;</td>
<td width="100%"><dl><dt>Method resolution order:</dt>
<dd><a href="models.html#Release">Release</a></dd>
<dd>sqlalchemy.ext.declarative.api.Base</dd>
<dd><a href="__builtin__.html#object">__builtin__.object</a></dd>
</dl>
<hr>
Methods defined here:<br>
<dl><dt><a name="Release-__init__"><strong>__init__</strong></a>(self, **kwargs)</dt><dd><tt>A&nbsp;simple&nbsp;constructor&nbsp;that&nbsp;allows&nbsp;initialization&nbsp;from&nbsp;kwargs.<br>
&nbsp;<br>
Sets&nbsp;attributes&nbsp;on&nbsp;the&nbsp;constructed&nbsp;instance&nbsp;using&nbsp;the&nbsp;names&nbsp;and<br>
values&nbsp;in&nbsp;``kwargs``.<br>
&nbsp;<br>
Only&nbsp;keys&nbsp;that&nbsp;are&nbsp;present&nbsp;as<br>
attributes&nbsp;of&nbsp;the&nbsp;instance's&nbsp;class&nbsp;are&nbsp;allowed.&nbsp;These&nbsp;could&nbsp;be,<br>
for&nbsp;example,&nbsp;any&nbsp;mapped&nbsp;columns&nbsp;or&nbsp;relationships.</tt></dd></dl>

<hr>
Data descriptors defined here:<br>
<dl><dt><strong>id</strong></dt>
</dl>
<dl><dt><strong>name</strong></dt>
</dl>
<dl><dt><strong>songs</strong></dt>
</dl>
<dl><dt><strong>year</strong></dt>
</dl>
<hr>
Data and other attributes defined here:<br>
<dl><dt><strong>__mapper__</strong> = &lt;Mapper at 0x7f0c3a793490; Release&gt;</dl>

<dl><dt><strong>__table__</strong> = Table('releases', MetaData(bind=None), Column('i...ring(length=128), table=&lt;releases&gt;), schema=None)</dl>

<dl><dt><strong>__tablename__</strong> = 'releases'</dl>

<hr>
Data descriptors inherited from sqlalchemy.ext.declarative.api.Base:<br>
<dl><dt><strong>__dict__</strong></dt>
<dd><tt>dictionary&nbsp;for&nbsp;instance&nbsp;variables&nbsp;(if&nbsp;defined)</tt></dd>
</dl>
<dl><dt><strong>__weakref__</strong></dt>
<dd><tt>list&nbsp;of&nbsp;weak&nbsp;references&nbsp;to&nbsp;the&nbsp;object&nbsp;(if&nbsp;defined)</tt></dd>
</dl>
<hr>
Data and other attributes inherited from sqlalchemy.ext.declarative.api.Base:<br>
<dl><dt><strong>metadata</strong> = MetaData(bind=None)</dl>

</td></tr></table> <p>
<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="section">
<tr bgcolor="#ffc8d8">
<td colspan=3 valign=bottom>&nbsp;<br>
<font color="#000000" face="helvetica, arial"><a name="Song">class <strong>Song</strong></a>(sqlalchemy.ext.declarative.api.Base)</font></td></tr>
    
<tr bgcolor="#ffc8d8"><td rowspan=2><tt>&nbsp;&nbsp;&nbsp;</tt></td>
<td colspan=2><tt>Model&nbsp;for&nbsp;<a href="#Song">Song</a><br>
A&nbsp;<a href="#Song">Song</a>&nbsp;is&nbsp;a&nbsp;piece&nbsp;of&nbsp;work&nbsp;put&nbsp;out&nbsp;by&nbsp;an&nbsp;artist&nbsp;that&nbsp;can&nbsp;be&nbsp;listened&nbsp;to.<br>&nbsp;</tt></td></tr>
<tr><td>&nbsp;</td>
<td width="100%"><dl><dt>Method resolution order:</dt>
<dd><a href="models.html#Song">Song</a></dd>
<dd>sqlalchemy.ext.declarative.api.Base</dd>
<dd><a href="__builtin__.html#object">__builtin__.object</a></dd>
</dl>
<hr>
Methods defined here:<br>
<dl><dt><a name="Song-__init__"><strong>__init__</strong></a>(self, **kwargs)</dt><dd><tt>A&nbsp;simple&nbsp;constructor&nbsp;that&nbsp;allows&nbsp;initialization&nbsp;from&nbsp;kwargs.<br>
&nbsp;<br>
Sets&nbsp;attributes&nbsp;on&nbsp;the&nbsp;constructed&nbsp;instance&nbsp;using&nbsp;the&nbsp;names&nbsp;and<br>
values&nbsp;in&nbsp;``kwargs``.<br>
&nbsp;<br>
Only&nbsp;keys&nbsp;that&nbsp;are&nbsp;present&nbsp;as<br>
attributes&nbsp;of&nbsp;the&nbsp;instance's&nbsp;class&nbsp;are&nbsp;allowed.&nbsp;These&nbsp;could&nbsp;be,<br>
for&nbsp;example,&nbsp;any&nbsp;mapped&nbsp;columns&nbsp;or&nbsp;relationships.</tt></dd></dl>

<hr>
Data descriptors defined here:<br>
<dl><dt><strong>audio_url</strong></dt>
</dl>
<dl><dt><strong>id</strong></dt>
</dl>
<dl><dt><strong>lyrics</strong></dt>
</dl>
<dl><dt><strong>name</strong></dt>
</dl>
<dl><dt><strong>videos</strong></dt>
</dl>
<hr>
Data and other attributes defined here:<br>
<dl><dt><strong>__mapper__</strong> = &lt;Mapper at 0x7f0c3a7aab90; Song&gt;</dl>

<dl><dt><strong>__table__</strong> = Table('songs', MetaData(bind=None), Column('id',...udio_url', String(), table=&lt;songs&gt;), schema=None)</dl>

<dl><dt><strong>__tablename__</strong> = 'songs'</dl>

<hr>
Data descriptors inherited from sqlalchemy.ext.declarative.api.Base:<br>
<dl><dt><strong>__dict__</strong></dt>
<dd><tt>dictionary&nbsp;for&nbsp;instance&nbsp;variables&nbsp;(if&nbsp;defined)</tt></dd>
</dl>
<dl><dt><strong>__weakref__</strong></dt>
<dd><tt>list&nbsp;of&nbsp;weak&nbsp;references&nbsp;to&nbsp;the&nbsp;object&nbsp;(if&nbsp;defined)</tt></dd>
</dl>
<hr>
Data and other attributes inherited from sqlalchemy.ext.declarative.api.Base:<br>
<dl><dt><strong>metadata</strong> = MetaData(bind=None)</dl>

</td></tr></table> <p>
<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="section">
<tr bgcolor="#ffc8d8">
<td colspan=3 valign=bottom>&nbsp;<br>
<font color="#000000" face="helvetica, arial"><a name="Video">class <strong>Video</strong></a>(sqlalchemy.ext.declarative.api.Base)</font></td></tr>
    
<tr bgcolor="#ffc8d8"><td rowspan=2><tt>&nbsp;&nbsp;&nbsp;</tt></td>
<td colspan=2><tt>Model&nbsp;for&nbsp;<a href="#Video">Video</a><br>
A&nbsp;video&nbsp;a&nbsp;video&nbsp;version&nbsp;of&nbsp;a&nbsp;song&nbsp;generally&nbsp;a&nbsp;music&nbsp;video&nbsp;by&nbsp;an&nbsp;artist(s)<br>&nbsp;</tt></td></tr>
<tr><td>&nbsp;</td>
<td width="100%"><dl><dt>Method resolution order:</dt>
<dd><a href="models.html#Video">Video</a></dd>
<dd>sqlalchemy.ext.declarative.api.Base</dd>
<dd><a href="__builtin__.html#object">__builtin__.object</a></dd>
</dl>
<hr>
Methods defined here:<br>
<dl><dt><a name="Video-__init__"><strong>__init__</strong></a>(self, **kwargs)</dt><dd><tt>A&nbsp;simple&nbsp;constructor&nbsp;that&nbsp;allows&nbsp;initialization&nbsp;from&nbsp;kwargs.<br>
&nbsp;<br>
Sets&nbsp;attributes&nbsp;on&nbsp;the&nbsp;constructed&nbsp;instance&nbsp;using&nbsp;the&nbsp;names&nbsp;and<br>
values&nbsp;in&nbsp;``kwargs``.<br>
&nbsp;<br>
Only&nbsp;keys&nbsp;that&nbsp;are&nbsp;present&nbsp;as<br>
attributes&nbsp;of&nbsp;the&nbsp;instance's&nbsp;class&nbsp;are&nbsp;allowed.&nbsp;These&nbsp;could&nbsp;be,<br>
for&nbsp;example,&nbsp;any&nbsp;mapped&nbsp;columns&nbsp;or&nbsp;relationships.</tt></dd></dl>

<hr>
Data descriptors defined here:<br>
<dl><dt><strong>id</strong></dt>
</dl>
<dl><dt><strong>name</strong></dt>
</dl>
<dl><dt><strong>song_id</strong></dt>
</dl>
<dl><dt><strong>year</strong></dt>
</dl>
<hr>
Data and other attributes defined here:<br>
<dl><dt><strong>__mapper__</strong> = &lt;Mapper at 0x7f0c3a79d110; Video&gt;</dl>

<dl><dt><strong>__table__</strong> = Table('videos', MetaData(bind=None), Column('id'...ignKey('songs.id'), table=&lt;videos&gt;), schema=None)</dl>

<dl><dt><strong>__tablename__</strong> = 'videos'</dl>

<hr>
Data descriptors inherited from sqlalchemy.ext.declarative.api.Base:<br>
<dl><dt><strong>__dict__</strong></dt>
<dd><tt>dictionary&nbsp;for&nbsp;instance&nbsp;variables&nbsp;(if&nbsp;defined)</tt></dd>
</dl>
<dl><dt><strong>__weakref__</strong></dt>
<dd><tt>list&nbsp;of&nbsp;weak&nbsp;references&nbsp;to&nbsp;the&nbsp;object&nbsp;(if&nbsp;defined)</tt></dd>
</dl>
<hr>
Data and other attributes inherited from sqlalchemy.ext.declarative.api.Base:<br>
<dl><dt><strong>metadata</strong> = MetaData(bind=None)</dl>

</td></tr></table></td></tr></table><p>
<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="section">
<tr bgcolor="#55aa55">
<td colspan=3 valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial"><big><strong>Data</strong></big></font></td></tr>
    
<tr><td bgcolor="#55aa55"><tt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</tt></td><td>&nbsp;</td>
<td width="100%"><strong>artists_concerts_association_table</strong> = Table('artistsConcerts', MetaData(bind=None), Co...erts.id'), table=&lt;artistsConcerts&gt;), schema=None)<br>
<strong>artists_releases_association_table</strong> = Table('artistsReleases', MetaData(bind=None), Co...ases.id'), table=&lt;artistsReleases&gt;), schema=None)<br>
<strong>artists_songs_association_table</strong> = Table('artistsSongs', MetaData(bind=None), Colum...('songs.id'), table=&lt;artistsSongs&gt;), schema=None)<br>
<strong>artists_video_association_table</strong> = Table('artistsVideo', MetaData(bind=None), Colum...'videos.id'), table=&lt;artistsVideo&gt;), schema=None)<br>
<strong>releases_songs_association_table</strong> = Table('releasesSongs', MetaData(bind=None), Colu...'songs.id'), table=&lt;releasesSongs&gt;), schema=None)</td></tr></table>
</body></html>