{% extends "base.html" %}
{% block content %}

      <div class="container-fluid" id="the-carousel">
         <!-- Carousel -->
         <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
               <div class="item active">
                  <img src="static/img/batman.jpg" alt="Batman">
               </div>
               <div class="item">
                  <img src="static/img/superman.jpg" alt="Superman">
               </div>
               <div class="item">
                  <img src="static/img/wonderwoman.jpg" alt="Wonderwoman">
               </div>
               <div class="item">
                  <img src="static/img/spiderman.jpg" alt="Spiderman">
               </div>
            </div>
         </div>
      </div>
{% endblock %}