<!DOCTYPE html>
{% block content %}
<html lang="en">
   <head>
      <title>{{publisher.name}}</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Latest compiled JavaScript -->
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <link rel="stylesheet" type="text/css" href="http://downing.rocks/static/tables.css">
      <link rel="stylesheet" type="text/css" href="http://downing.rocks/static/styles.css">
　　　　<!-- Navigation -->
<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top">
 <div class="container">
    <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="http://downing.rocks/">Komixx</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
       <ul class="nav navbar-nav navbar-right">
          <li>
             <a href="http://downing.rocks/characters">Characters</a>
          </li>
          <li>
             <a href="http://downing.rocks/teams">Teams</a>
          </li>
          <li>
             <a href="http://downing.rocks/volumes">Volumes</a>
          </li>
          <li>
             <a href="http://downing.rocks/publishers">Publishers</a>
          </li>
          <li>
             <a href="http://downing.rocks/about">About</a>
          </li>
          <li>
             <a href="http://downing.rocks/visual">Visual</a>
          </li>
          <li>
             <form action="javascript:changeText2()" class="form-inline" role="form" style="padding: 10px;">

                <input type="text" id="userInput" class="form-control" onSubmit="changeText2()" placeholder="Search">
             </form>

             <script type="text/javascript">
             function changeText2(){
               var userInput = document.getElementById('userInput').value;
               var lnk = document.getElementById('lnk');
               console.log(lnk);
               window.location = "http://downing.rocks/search/" + userInput;
            }
            </script>
          </li>
       </ul>
    </div>
 </div>
</nav></head>
   <body>
      <div id="content" class="container">
         <div class="row">
            <div class="col-md-4">
               <img id="inner" src={{publisher.image}} class="img-responsive img-thumbnail" alt="Dark Horse Comics">
            </div>
            <div class="col-md-8">
               <h1 id="inner">{{ publisher.name }}</h1>
               </br>
               <!-- https://raw.githubusercontent.com/jarkyll/cs373-idb/back-end/dark_horse_comics.json -->
               <p>{{publisher.deck}}</p>
               <table class="table">
                  <tbody>
                     <tr>
                        <th>Address</th>
                        <td>{{ publisher.address }}</td>
                     </tr>
                     <tr>
                        <th>City</th>
                        <td>{{ publisher.city }}</td>
                     </tr>
                     <tr>
                        <th>State</th>
                        <td>{{ publisher.state }}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <br /><br />
         <div class="row">
            <div class="col-md-4" style="height: 200px;overflow-y: auto;">
               <h2 id="title"> Characters </h2>
                  {% for character in publisher.publisher_characters %}
                      {% if character.image != None %}
                      <a id="inner" href="http://downing.rocks/character/{{character.name}}"><img id='publishers' src="{{character.image}}" class="img-rounded" alt="Teams"></a>
                      {% else %}
                      <a id="inner" href="http://downing.rocks/character/{{character.name}}">{{character.name}}</a>
                      {% endif %}
                      </br>
                {% endfor %}
            </div>
            <div class="col-md-4" style="height: 200px;overflow-y: auto;">
                <h2 id="title"> Teams </h2>
                {% for team in publisher.publisher_teams %}
                  {% if team.image != None %}
                  <a id="inner" href="http://downing.rocks/team/{{team.name}}"><img id='publishers' src="{{team.image}}" class="img-rounded" alt="Teams"></a>
                  {% else %}
                  <a id="inner" href="http://downing.rocks/team/{{team.name}}">{{team.name}}</a>
                  {% endif %}
                  </br>
                {% endfor %}
            </div>
            <div class="col-md-4" style="height: 200px;overflow-y: auto;">
                <h2 id="title"> Volumes </h2>
                {% for volume in publisher.publisher_volumes %}
                   {% if volume.image != None %}
                   <a id="inner" href="http://downing.rocks/volume/{{volume.name}}"><img id='publishers' src="{{volume.image}}" class="img-rounded" alt="Teams"></a>
                   {% else %}
                   <a id="inner" href="http://downing.rocks/volume/{{volume.name}}">{{volume.name}}</a>
                   {% endif %}
                  </br>
                {% endfor %}
            </div>
         </div>
      </div>
   </body>
</html>
{% endblock %}
