<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Komixx</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Latest compiled JavaScript -->
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/static/styles.css">
      <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/static/tables.css">
       <!-- Navigation -->
      <nav id="navbar" class="navbar navbar-default navbar-fixed-top">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href=http://downing.rocks/>Komixx</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
               <ul class="nav navbar-nav navbar-right">
                  <li>
                     <a href="http://downing.rocks/characters">Characters</a>
                  </li>
                  <li>
                     <a href="http://downing.rocks/teams">Teams</a>
                  </li>
                  <li>
                     <a href="http://downing.rocks/volumes">Volumes</a>
                  </li>
                  <li>
                     <a href="http://downing.rocks/publishers">Publishers</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
   </head>
   </head>
   <body>
      <br /><br /><br /><br />
      <div id="content" class="container">
         <div class="row">
            <div class="col-md-4">
               <img id="inner" src="http://static3.comicvine.com/uploads/scale_small/6/69951/1387073-fiction_house.jpg" class="img-responsive img-thumbnail" alt="Dark Horse Comics">
            </div>
            <div class="col-md-8">
               <h2 href="http://downing.rocks/publisher/1">Fiction House</h2>
               <!-- https://raw.githubusercontent.com/jarkyll/cs373-idb/back-end/dark_horse_comics.json -->
               <p>A pulp magazine and comic book publisher in the Golden Age of Comics.</p>
               <table class="table">
                  <tbody>
                     <tr>
                        <th>Address</th>
                        <td></td>
                     </tr>
                     <tr>
                        <th>City</th>
                        <td></td>
                     </tr>
                     <tr>
                        <th>State</th>
                        <td></td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <br /><br />
         <div class="row">
            <div class="col-md-4">
              <h2 id="title"> Characters </h2>
               <!-- each image will be 300x300 pixels -->
               <a id="inner" href="http://downing.rocks/character/2"><img src="http://static3.comicvine.com/uploads/square_avatar/0/3848/131272-16412-sheena.jpg" class="img-rounded" alt="Characters"></a>
            </div>
            <div class="col-md-4">
              <h2 id="title"> Teams </h2>
               <a id="inner" href="URL_TO_TEAM_RESULTS"><img src="https://placehold.it/300x300" class="img-rounded" alt="Teams"></a>
            </div>
            <div class="col-md-4">
              <h2 id="title"> Volumes </h2>
               <a id="inner" href="http://downing.rocks/volume/2"><img src="http://static1.comicvine.com/uploads/square_avatar/0/9116/1556940-38491.jpg" class="img-rounded" alt="Volumes"></a>
            </div>
         </div>
      </div>
   </body>
</html>
