<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- JQUERY  -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="http://downing.rocks/static/tables.css">
		<link rel="stylesheet" type="text/css" href="http://downing.rocks/static/static.css">
		<nav id="navbar" class="navbar navbar-default navbar-fixed-top">
			 <div class="container">
					<div class="navbar-header">
						 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						 <span class="icon-bar"></span>
						 <span class="icon-bar"></span>
						 <span class="icon-bar"></span>
						 </button>
						 <a class="navbar-brand" href="http://downing.rocks/">Komixx</a>
					</div>
					<div class="collapse navbar-collapse" id="myNavbar">
						 <ul class="nav navbar-nav navbar-right">
								<li>
									 <a href="http://downing.rocks/characters">Characters</a>
								</li>
								<li>
									 <a href="http://downing.rocks/teams">Teams</a>
								</li>
								<li>
									 <a href="http://downing.rocks/volumes">Volumes</a>
								</li>
								<li>
									 <a href="http://downing.rocks/publishers">Publishers</a>
								</li>
						 </ul>
					</div>
			 </div>
		</nav>
	</head>
	<body>
		<div class="container">
      <h2>Publishers</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Thumbnail</th>    <!--Thumbnail Link should take them to Pub page-->
            <th>Name</th>        <!--Title Link should take them to Pub page-->
            <th>Year Founded</th>    <!--Publisher Link should take them to Publisher page-->
            <th>Abbreviation</th>
            <th>Country</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="http://downing.rocks/publisher/1"><img id="publishers" src="http://static3.comicvine.com/uploads/scale_small/1/19151/412843-dkhlogo.gif" class="img-responsive img-thumbnail" alt="Dell"></a></td>
            <td>Dark Horse Comics</td>
            <td>1986</td>
            <td>Dark Horse</td>
            <td>United States</td>
          </tr>
          <tr>
            <td><a href="http://downing.rocks/publisher/3"><img id="publishers" src="http://static3.comicvine.com/uploads/scale_small/6/69951/1387447-logo.gif" class="img-responsive img-thumbnail" alt="Dell"></a></td>
            <td>Dell</td>
            <td>1921</td>
            <td></td>
            <td>United States</td>
          </tr>
          <tr>
            <td><a href="http://downing.rocks/publisher/2"><img id="publishers" src="http://static3.comicvine.com/uploads/scale_small/6/69951/1387073-fiction_house.jpg" class="img-responsive img-thumbnail" alt="Fiction House"></a></td>
            <td>Fiction House</td>
            <td>1920</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
	</body>
</html>
