<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Komixx</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Latest compiled JavaScript -->
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <link rel="stylesheet" type="text/css" href="http://downing.rocks/static/styles.css">
      <link rel="stylesheet" type="text/css" href="http://downing.rocks/static/tables.css">
　　　　<!-- Navigation -->
      <nav id="navbar" class="navbar navbar-default navbar-fixed-top">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="http://downing.rocks/">Komixx</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
               <ul class="nav navbar-nav navbar-right">
                  <li>
                     <a href="http://downing.rocks/characters">Characters</a>
                  </li>
                  <li>
                     <a href="http://downing.rocks/teams">Teams</a>
                  </li>
                  <li>
                     <a href="http://downing.rocks/volumes">Volumes</a>
                  </li>
                  <li>
                     <a href="http://downing.rocks/publishers">Publishers</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
   </head>
   <body>
      <br /><br /><br /><br />
      <div id="content" class="container">
         <div class="row">
            <div class="col-md-4">
               <img id="inner" src="http://static2.comicvine.com/uploads/scale_medium/1/19151/412843-dkhlogo.gif" class="img-responsive img-thumbnail" alt="Dark Horse Comics">
            </div>
            <div class="col-md-8">
               <h2 class="">Dark Horse Comics</h2>
               <!-- https://raw.githubusercontent.com/jarkyll/cs373-idb/back-end/dark_horse_comics.json -->
               <p>Dark Horse Comics is one of the largest independent comic book publishers, best known for Hellboy and various Star Wars titles.</p>
               <table class="table">
                  <tbody>
                     <tr>
                        <th>Address</th>
                        <td>10956 SE Main Street</td>
                     </tr>
                     <tr>
                        <th>City</th>
                        <td>Milwaukie</td>
                     </tr>
                     <tr>
                        <th>State</th>
                        <td>Oregon</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <br /><br />
         <div class="row">
            <div class="col-md-4">
               <h2 id="title"> Characters </h2>
               <!-- each image will be 300x300 pixels -->
               <a id="inner" href="http://downing.rocks/character/1"><img src="http://static1.comicvine.com/uploads/square_avatar/1/15317/319977-72031-chief-chirpa.jpg" class="img-rounded" alt="Characters"></a>
            </div>
            <div class="col-md-4">
               <h2 id="title"> Teams </h2>
               <a id="inner" href="URL_TO_TEAM_RESULTS"><img src="http://static1.comicvine.com/uploads/square_avatar/1/19151/367187-154544-ewoks.JPG" class="img-rounded" alt="Teams"></a>
            </div>
            <div class="col-md-4">
               <h2 id="title"> Volumes </h2>
               <a id="inner" href="http://downing.rocks/volume/1"><img src="http://static1.comicvine.com/uploads/square_avatar/6/67663/3754499-01.jpg" class="img-rounded" alt="Volumes"></a>
            </div>
         </div>
      </div>
   </body>
</html>
