{% extends "base.html" %}
{% block content %}
<div id="content" class="container" ng-controller="MainController">
    <table id="table" class="display nowrap" cellspacing="0" width="100%" datatable="ng">
        <thead>
        <tr>
            <th>Thumbnail</th>    <!--Thumbnail Link should take them to Volume page-->
            <th>Name</th>        <!--Title Link should take them to Volume page-->
            <th>Address</th>    <!--Publisher Link should take them to Publisher page-->
            <th>City</th>
            <th>State</th>
        </tr>
        </thead>
        <tbody>
        {% for publisher in publishers %}
        <tr>
            <td>
                {% if publisher.image != None %}
                <a id="inner" href="http://downing.rocks/publisher/{{ publisher.name}}"><img id="publishers"
                                                                                   src="{{ publisher.image }}"></a>
                {% else %}
                <a id="inner" href="http://downing.rocks/publisher/{{ publisher.name}}"><img id="publishers"
                                                                                   src="http://downing.rocks/static/img/image.gif"</a>
                {% endif %}
            </td>
            <td><a id='tag' href="http://downing.rocks/publisher/{{ publisher.name }}">{{ publisher.name }}</a></td>
            <td>{{ publisher.address }}</td>
            <td>{{ publisher.city }}</td>
            <td>{{ publisher.state }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
