<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Reef Ryan</title>

		<meta charset="utf-8">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/tables.css">
		<link rel="stylesheet" type="text/css" href="../static/tables.css">

		<!-- Navigation -->
					<nav id="navbar" class="navbar navbar-default navbar-fixed-top">
						 <div class="container">
								<div class="navbar-header">
									 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
									 <span class="icon-bar"></span>
									 <span class="icon-bar"></span>
									 <span class="icon-bar"></span>
									 </button>
									 <a class="navbar-brand" href="http://downing.rocks/">Komixx</a>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									 <ul class="nav navbar-nav navbar-right">
											<li>
												 <a href="http://downing.rocks/characters">Characters</a>
											</li>
											<li>
												 <a href="http://downing.rocks/teams">Teams</a>
											</li>
											<li>
												 <a href="http://downing.rocks/volumes">Volumes</a>
											</li>
											<li>
												 <a href="http://downing.rocks/publishers">Publishers</a>
											</li>
											<li>
												 <a href="http://downing.rocks/about">About</a>
											</li>
									 </ul>
								</div>
						 </div>
					</nav>
	</head>
	<body>

		<div id="content" class="container">
			<div class="row">
				<div class="col-md-4">
					<img id="pubisher" src="http://static1.comicvine.com/uploads/scale_small/6/69951/1387237-reef_ryan.jpg" class="img-responsive img-thumbnail character-image" alt="Sheena">
				</div>

				<div class="col-md-8">
					<h2 id="inner" class="character-header">Reef Ryan</h2><!-- http://comicvine.gamespot.com/batman/4005-1699/ -->
					<p></p>
					<table class="table">
						<tbody>
							<tr>
								<th>Gender</th>
								<td>Male</td>
							</tr>
							<tr>
								<th>Birthday</th>
								<td>Unknown</td>
							</tr>
							<tr>
								<th>Publisher</th>
								<td><a href="http://downing.rocks/publisher/3">Fiction House</a></td>
							</tr>
							<tr>
								<th>Creators</th>
								<td>Unknown</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<br />

			<div class="row">
				<div class="col-md-12">
					<h3 id="inner">Powers</h3>
					<table class="table">
						<tbody>
						</tbody>
					</table>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<!--some kind of table of the volumes batman has appeared in (1 volume per row? ) -->
					<div class="row">
             <div class="col-md-6">
               <h2 id="title"> Teams </h2>
							 <a id="inner" href="http://downing.rocks/team/3"><img src="http://static4.comicvine.com/uploads/square_avatar/2/27783/2181282-spacerangers.jpg"class="img-rounded" alt="Teams"></a>
             </div>
             <div class="col-md-6">
               <h2 id="title"> Volumes Appearances </h2>
                <a id="inner" href="http://downing.rocks/volume/3"><img src="http://static4.comicvine.com/uploads/square_avatar/11114/111149159/4641116-1441336221-0.jpg.jpg" class="img-rounded" alt="Volumes"></a>
             </div>
          </div>
				</div>
			</div>

	</body>
</html>
