<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sheena</title>

		<meta charset="utf-8">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/static/styles.css">
		<link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/static/tables.css">
		<!-- Navigation -->
					<nav id="navbar" class="navbar navbar-default navbar-fixed-top">
						 <div class="container">
								<div class="navbar-header">
									 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
									 <span class="icon-bar"></span>
									 <span class="icon-bar"></span>
									 <span class="icon-bar"></span>
									 </button>
									 <a class="navbar-brand" href="http://downing.rocks/">Komixx</a>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									 <ul class="nav navbar-nav navbar-right">
											<li>
												 <a href="http://downing.rocks/characters">Characters</a>
											</li>
											<li>
												 <a href="http://downing.rocks/teams">Teams</a>
											</li>
											<li>
												 <a href="http://downing.rocks/volumes">Volumes</a>
											</li>
											<li>
												 <a href="http://downing.rocks/publishers">Publishers</a>
											</li>
									 </ul>
								</div>
						 </div>
					</nav>
	</head>
	<body>

		<div id="content" class="container">
			<div class="row">
				<div class="col-md-4">
					<img id="pubisher" src="http://static3.comicvine.com/uploads/scale_small/0/3848/131272-16412-sheena.jpg" class="img-responsive img-thumbnail character-image" alt="Sheena">
				</div>

				<div class="col-md-8">
					<h2 class="character-header">Sheena</h2><!-- http://comicvine.gamespot.com/batman/4005-1699/ -->
					<p>After her parents died while on safari, an orphaned blonde girl was raised by an African tribe and became known as Sheena, Queen of the Jungle. Sheena is the original Golden Age "jungle girl" and the first-ever female character to receive her own comic book title.</p>
					<table class="table">
						<tbody>
							<tr>
								<th>Gender</th>
								<td>Female</td>
							</tr>
							<tr>
								<th>Birthday</th>
								<td>n/a</td>
							</tr>
							<tr>
								<th>Publisher</th>
								<td href="http://downing.rocks/publisher/3">Fiction House</td>
							</tr>
							<tr>
								<th>Creators</th>
								<td>Will Eisner<br />Jerry Iger</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<br />

			<div class="row">
				<div class="col-md-12">
					<h3>Powers</h3>
					<table class="table">
						<tbody>
							<tr>
								<td>Agility</td>
								<td>Animal Control</td>
								<td>Attractive Female</td>
							</tr>
							<tr>
								<td>Intellect</td>
								<td>Stamina</td>
								<td>Stealth</td>
							</tr>
							<tr>
								<td>Tracking</td>
								<td>Unarmed Combat</td>
								<td>Weapon Master</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<!--some kind of table of the volumes batman has appeared in (1 volume per row? ) -->
					<div class="row">
             <div class="col-md-6">
               <h2 id="title"> Teams </h2>
             </div>
             <div class="col-md-6">
               <h2 id="title"> Volumes Appearances </h2>
                <a id="inner" href="http://.downing.rocks/volume/2"><img src="http://static1.comicvine.com/uploads/square_avatar/0/9116/1556940-38491.jpg" class="img-rounded" alt="Volumes"></a>
             </div>
          </div>
				</div>
			</div>

	</body>
</html>
