{% extends "base.html" %}
{% block content %}
<div id="content" class="container" ng-controller="MainController">
    <table id="table" class="display nowrap" cellspacing="0" width="100%" datatable="ng">
        <thead>
        <tr>
            <th>Thumbnail</th>    <!--Thumbnail Link should take them to Volume page-->
            <th>Title</th>        <!--Title Link should take them to Volume page-->
            <th>Publisher</th>    <!--Publisher Link should take them to Publisher page-->
            <th>Start Year</th>
            <th># of Issues</th>
        </tr>
        </thead>
        <tbody>
        {% for team in teams %}
        <tr>
            <td>
                {% if team.name != None %}
                <a id="inner" href="http://downing.rocks/team/{{ team.name}}"><img id="publishers"
                                                                                   src="{{ team.image }}"></a>
                {% else %}
                <a id="inner" href="http://downing.rocks/team/{{ team.name}}"><img id="publishers"
                                                                                   src="{{ team.image }}"></a>
                {% endif %}
            </td>
            <td>{{ team.name }}</td>
            <td><a href="http://downing.rocks/publisher/{{ team.publisher_name }}">{{ team.publisher_name }}</a></td>
            <td>{{ team.appear }}</td>
            <td>{{ team.num_appearances }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


