{% extends "base.html" %}
{% block content %}
<br><br><br>
      <div id="content" class="container">
         <div class="jumbotron">
            <h1>{{team.name}}</h1>
         </div>
         <div class="row">
            <div class="col-md-4">
               <img src="{{team.image}}" class="img-responsive img-thumbnail character-image">
            </div>
            <div class="col-md-6">
               <table class="table">
                  <tr>
                     <th>Appearances</th>
                     <td>{{team.num_appearances}}</td>
                  </tr>
                  <tr>
                     <th>Publisher</th>
                     <td>{{team.publisher}}</td>
                  </tr>
                  <tr>
                     <th>First Appearance</th>
                     <td>{{team.appear}}</td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
{% endblock %}
