<!DOCTYPE html>
<html lang="en">
	<head>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/tables.css">
		<link rel="stylesheet" type="text/css" href="../static/styles.css">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


		<!-- TESTING SORTING BELOW-->

		<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
		<link href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
		<script>
		$(document).ready(function() {
			$('#volumes').dataTable();
		});
		</script>
					<!-- Navigation -->
		      <nav id="navbar" class="navbar navbar-default navbar-fixed-top">
		         <div class="container">
		            <div class="navbar-header">
		               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		               <span class="icon-bar"></span>
		               <span class="icon-bar"></span>
		               <span class="icon-bar"></span>
		               </button>
		               <a class="navbar-brand" href="http://downing.rocks/">Komixx</a>
		            </div>
		            <div class="collapse navbar-collapse" id="myNavbar">
		               <ul class="nav navbar-nav navbar-right">
		                  <li>
		                     <a href="http://downing.rocks/characters">Characters</a>
		                  </li>
		                  <li>
		                     <a href="http://downing.rocks/teams">Teams</a>
		                  </li>
		                  <li>
		                     <a href="http://downing.rocks/volumes">Volumes</a>
		                  </li>
		                  <li>
		                     <a href="http://downing.rocks/publishers">Publishers</a>
		                  </li>
											<li>
												 <a href="http://downing.rocks/about">About</a>
											</li>
		               </ul>
		            </div>
		         </div>
		      </nav>
	</head>
	<body>

		<div id="content" class="container">
      <table id="volumes" class="table">
        <thead>
          <tr>
            <th>Thumbnail</th>    <!--Thumbnail Link should take them to Volume page-->
            <th>Title</th>        <!--Title Link should take them to Volume page-->
            <th>Publisher</th>    <!--Publisher Link should take them to Publisher page-->
            <th>Start Year</th>
            <th># of Issues</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="http://downing.rocks/volume/1"><img id="publishers" src="http://static1.comicvine.com/uploads/square_avatar/6/67663/3754499-01.jpg"></a></td>
            <td>Star Wars: Dark Force Rising</td>
            <td><a href="http://downing.rocks/publisher/1">Dark Horse Comics</a></td>
            <td>1998</td>
            <td>1</td>
          </tr>
          <tr>
            <td><a href="http://downing.rocks/volume/2"><img id="publishers" src="http://static1.comicvine.com/uploads/square_avatar/0/4/1148-1622-1230-1-tom-amp-jerry-summ.jpg"></a></td>
            <td>Tom and Jerry's Summer Fun</td>
            <td><a href="http://downing.rocks/publisher/3">Dell</a></td>
            <td>1954</td>
            <td>4</td>
          </tr>
          <tr>
            <td><a href="http://downing.rocks/volume/3"><img id="publishers" src="http://static1.comicvine.com/uploads/square_avatar/0/9116/1556940-38491.jpg"></a></td>
            <td>Planet Comics</td>
            <td><a href="http://downing.rocks/publisher/2">Fiction House</a></td>
            <td>1940</td>
            <td>70</td>
          </tr>
        </tbody>
      </table>
    </div>
	</body>
</html>
