<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  		<!-- jQuery library -->
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="../static/tables.css">
  <link rel="stylesheet" type="text/css" href="../static/styles.css">

  <!-- Navigation -->
        <nav id="navbar" class="navbar navbar-default navbar-fixed-top">
           <div class="container">
              <div class="navbar-header">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 </button>
                 <a class="navbar-brand" href="http://downing.rocks/">Komixx</a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                 <ul class="nav navbar-nav navbar-right">
                    <li>
                       <a href="http://downing.rocks/characters">Characters</a>
                    </li>
                    <li>
                       <a href="http://downing.rocks/teams">Teams</a>
                    </li>
                    <li>
                       <a href="http://downing.rocks/volumes">Volumes</a>
                    </li>
                    <li>
                       <a href="http://downing.rocks/publishers">Publishers</a>
                    </li>
                    <li>
                       <a href="http://downing.rocks/about">About</a>
                    </li>
                 </ul>
              </div>
           </div>
        </nav>
</head>
<body>

  <div id="content" class="container">

    <div class="jumbotron">
        <h1 id="title">{{volume.name}}</h1>
    </div>

    <div class="row">
      <div class="col-md-6">
        <img id="inner" src={{volume.image}}>
      </div>
      <h1 id="inner" class="character-header">{{ character.name }}</h1><!-- http://comicvine.gamespot.com/batman/4005-1699/ -->
      <div class="col-md-6">
        <table class="table">
          <tr>
            <th>Num Issues</th>
            <td>{{volume.num_issues}}</td>
          </tr>
          <tr>
            <th>Start Year</th>
            <td>{{volume.start_year}}</td>
          </tr>
          <tr>
            <th>Publisher</th>
            <td><a href="http://downing.rocks/publisher/{{volume.publisher_name}}">{{volume.publisher_name}}</a></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <br/>
    	<!--some kind of table of the volumes batman has appeared in (1 volume per row? ) -->

         <div class="row">
            <div class="col-md-6" style="height: 200px;overflow-y: auto;">
               <h2 id="title"> Characters </h2>
               {% for character in volume.volume_characters %}
                   {% if character.image != None %}
                        <a id="inner" href="http://downing.rocks/character/{{character.name}}"><img id='publishers' src="{{character.image}}" class="img-rounded" alt="Teams"></a>
                   {% else %}
                        <a id="inner" href="http://downing.rocks/character/{{character.name}}">{{character.name}}</a>
                   {% endif %}
                        </br>
               {% endfor %}
            </div>
            <div class="col-md-6" style="height: 200px;overflow-y: auto;">
                <h2 id="title"> Teams </h2>
                {% for team in volume.volume_teams %}
                    {% if team.image != None %}
                        <a id="inner" href="http://downing.rocks/team/{{team.name}}"><img id='publishers' src="{{team.image}}" class="img-rounded" alt="Teams"></a>
                    {% else %}
                        <a id="inner" href="http://downing.rocks/team/{{team.name}}">{{team.name}}</a>
                    {% endif %}
                        </br>
                {% endfor %}
            </div>
         </div>
</body>
