{% extends "base.html" %}
{% block content %}
<br><br><br>
      <div id="content" class="container">
         <div class="jumbotron">
            <h1>{{volume.name}}</h1>
         </div>
         <div class="row">
            <div class="col-md-4">
               <img src="{{volume.image}}" class="img-responsive img-thumbnail character-image">
            </div>
            <div class="col-md-6">
               <table class="table">
                  <tr>
                     <th>Start Year</th>
                     <td>{{volume.start_year}}</td>
                  </tr>
                  <tr>
                     <th>Number of Issues</th>
                     <td>{{volume.num_issues}}</td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
{% endblock %}
