<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Comic Books</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" type="text/css" href="../static/styles.css">

      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Latest compiled JavaScript -->
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <!-- Angular -->
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
      <!-- Modules -->
      <script src="static/js/app.js"></script>
      <!-- Controllers -->
      <script src="static/js/controllers/MainController.js"></script>
      <!-- Navigation -->
      <nav id="navbar" class="navbar navbar-default navbar-fixed-top">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="http://downing.rocks/">Komixx</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
               <ul class="nav navbar-nav navbar-right">
                  <li>
                     <a href="http://downing.rocks/characters">Characters</a>
                  </li>
                  <li>
                     <a href="http://downing.rocks/teams">Teams</a>
                  </li>
                  <li>
                     <a href="http://downing.rocks/volumes">Volumes</a>
                  </li>
                  <li>
                     <a href="http://downing.rocks/publishers">Publishers</a>
                  </li>
                  <li>
                     <a href="http://downing.rocks/about">About</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
   </head>
   <body ng-app='komixxApp'>
      <div class="main" ng-controller="MainController">
         <h1>SOmething</h1>
         <h2>title: {{ title }}</h2>
         <h2>Post title</h2>
      </div>
      <div class="container-fluid" id="the-carousel">
         <!-- Carousel -->
         <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
               <div class="item active">
                  <img src="static/img/batman.jpg" alt="Batman">
               </div>
               <div class="item">
                  <img src="static/img/superman.jpg" alt="Superman">
               </div>
               <div class="item">
                  <img src="static/img/wonderwoman.jpg" alt="Wonderwoman">
               </div>
               <div class="item">
                  <img src="static/img/spiderman.jpg" alt="Spiderman">
               </div>
            </div>
         </div>
      </div>

   </body>
</html>
