<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="../static/tables.css">
	<link rel="stylesheet" type="text/css" href="../static/styles.css">

	<!-- TESTING SORTING BELOW-->

	<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
	<link href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
	<script>
	$(document).ready(function() {
		$('#teams').dataTable();
	});
	</script>
　　　　<!-- Navigation -->
	 <nav id="navbar" class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				 <div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="http://downing.rocks/">Komixx</a>
				 </div>
				 <div class="collapse navbar-collapse" id="myNavbar">
						<ul class="nav navbar-nav navbar-right">
							 <li>
									<a href="http://downing.rocks/characters">Characters</a>
							 </li>
							 <li>
									<a href="http://downing.rocks/teams">Teams</a>
							 </li>
							 <li>
									<a href="http://downing.rocks/volumes">Volumes</a>
							 </li>
							 <li>
									<a href="http://downing.rocks/publishers">Publishers</a>
							 </li>
							 <li>
									<a href="http://downing.rocks/about">About</a>
							 </li>
						</ul>
				 </div>
			</div>
	 </nav>
</head>
	<body>

		<div id="content" class="container">
      <table id="teams" class="table">
        <thead>
          <tr>
            <th>Thumbnail</th>    <!--Thumbnail Link should take them to Volume page-->
            <th>Team Name</th>        <!--Title Link should take them to Volume page-->
            <th>Publisher</th>    <!--Publisher Link should take them to Publisher page-->
            <th>First Appearance</th>
            <th># of Appreances</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="http://downing.rocks/team/1"><img src="http://static1.comicvine.com/uploads/square_avatar/1/19151/367187-154544-ewoks.JPG"></a></td>
            <td>Ewoks</td>
            <td><a href="http://downing.rocks/publisher/1">Dark Horse Comics</a></td>
            <td>Mad 176-179</td>
            <td>Unknown</td>
          </tr>
          <tr>
            <td><a href="http://downing.rocks/team/2"><img src="http://static1.comicvine.com/uploads/square_avatar/0/3125/1044725-mm.jpg"</a></td>
            <td>Mouse Musketeers</td>
            <td><a href="http://downing.rocks/publisher/3">Dell</a></td>
            <td>Woody Woodpecker's Back to School</td>
            <td>Unknown</td>
          </tr>
          <tr>
            <td><a href="http://downing.rocks/team/3"><img src="http://static4.comicvine.com/uploads/square_avatar/2/27783/2181282-spacerangers.jpg"></a></td>
            <td>Space Ranger</td>
            <td><a href="http://downing.rocks/publisher/2">Fiction House</a></td>
            <td>Unknown</td>
            <td>Unknown</td>
          </tr>
        </tbody>
      </table>
    </div>
	</body>
</html>
